@model coremvcproject.Models.Platforms

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Platforms</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none;">
                <label asp-for="PlatformsId" class="control-label"></label>
                <input asp-for="PlatformsId" class="form-control" />
                <span asp-validation-for="PlatformsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlatformName" class="control-label"></label>
                <input asp-for="PlatformName" class="form-control" />
                <span asp-validation-for="PlatformName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
